#banner-top-container {
  top: 0;
  width: 100%;
  z-index: 50;
  background: #ffffff;

  .banner {
    border-bottom-width: $banner-default-border-width;
    border-bottom-style: solid;
  }
}

#banner-center-container {
  .banner-center {
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    .banner-center-content-wrapper {
      position: relative;
      width: 90%;
      max-width: 800px;
      padding: 60px 30px 30px;
      border: $banner-default-border-width solid $banner-default-border-color;
      background: #ffffff;
      margin: 100px auto;
      min-height: 370px;

      .banner-dismiss {
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }
  }
}

#banner-bottom-container {
  bottom: 0;
  width: 100%;
  z-index: 50;
  background: #ffffff;

  .banner {
    border-top-width: $banner-default-border-width;
    border-top-style: solid;
  }
}

.banner {
  display: flex;
  align-items: center;
  padding: 15px;

  &.banner-dismissible {
    display: none;
  }

  &.banner-default {
    background: $banner-default-background-color;
    border-color: $banner-default-border-color;

    h1 {
      color: $banner-default-highlight-color;
    }

    .banner-dismiss {
      background-color: $banner-default-highlight-color;
      border-color: $banner-default-highlight-color;
    }
  }

  &.banner-info {
    background: $banner-info-background-color;
    border-color: $banner-info-border-color;

    h1 {
      color: $banner-info-highlight-color;
    }

    .banner-dismiss {
      background-color: $banner-info-highlight-color;
      border-color: $banner-info-highlight-color;
    }
  }

  &.banner-error {
    background: $banner-error-background-color;
    border-color: $banner-error-border-color;

    h1 {
      color: $banner-error-highlight-color;
    }

    .banner-dismiss {
      background-color: $banner-error-highlight-color;
      border-color: $banner-error-highlight-color;
    }
  }

  .banner-content {
    flex-grow: 1;
    flex-shrink: 1;

    > * {
      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .banner-dismiss-wrapper {
    flex-grow: 0;
    flex-shrink: 0;

    .banner-dismiss {
      display: flex;
      align-items: center;
    }
  }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.sticky-lg {
    @media (min-width: $screen-lg-min) {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 20;
    }
}

.sticky-md {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 20;
    }
}

.sticky-sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 20;
    }
}

.sticky-xs {
    @media (max-width: $screen-xs-max) {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 20;
    }
}

#backToTop {
    position: fixed;
    right: $back-to-top-btn-position-right;
    bottom: $back-to-top-btn-position-bottom;
    cursor: pointer;
    background-color: $back-to-top-btn-bg;
    display: none;
    -webkit-border-radius: $back-to-top-btn-border-radius;
    -moz-border-radius: $back-to-top-btn-border-radius;
    border-radius: $back-to-top-btn-border-radius;
    padding: $back-to-top-btn-padding;
    z-index: 1000;
    color: $back-to-top-btn-color;
    align-items: center;
    font-size: $back-to-top-btn-font-size;

    .backToTop-icon {
        margin-left: $back-to-top-icon-margin-left;
        border: $back-to-top-icon-border;
        border-radius: $back-to-top-icon-border-radius;
        width: $back-to-top-icon-width;
        height: $back-to-top-icon-height;
        display: flex;
        align-items: center;
        justify-content: center;

        .glyphicon {
            position: static;
            top: auto;
            display: flex;
            width: $back-to-top-glyphicon-width;
        }
    }

    &:hover,
    &:active,
    &:focus,
    &.active {
        color: $back-to-top-btn-color-hover;

        .backToTop-icon {
            border: $back-to-top-icon-border-hover;
        }
    }
}


// Image Token Styles

.icon {
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position-y: 2px;
    padding-right: 14px;
    background-size: 14px 14px;
}

.image-wrapper.image-with-modal-wrapper {
    .icon-link {
        margin-right: 0;
        border: 2px solid #a9adc0;
        border-radius: 20px;
        padding: 5px;
        padding-right: 5px !important;
        position: relative;
        width: 30px;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        font-size: 1.1em;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #a9adc0;
        &:before {
            content: '\e144';
        }
    }

    .icon-zoom {
        margin-right: 0;
        border: 2px solid #a9adc0;
        border-radius: 20px;
        padding: 5px;
        padding-right: 5px !important;
        position: relative;
        top: 1px;
        width: 30px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        font-size: 1.1em;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #a9adc0;
        &:before {
            content: '\e015';
        }
    }
}

.image-float-right {
    width: calc(50% - 22px);
    float: right;
    margin: 0 0 15px 22px;

    @media (max-width: $grid-float-breakpoint-max) {
        width: 60%;
        float: none;
        margin: 0 20%;
    }

    @media (max-width: 500px) {
        width: 90%;
        margin: 0 5%;
    }
}

.image-float-left {
    width: calc(50% - 22px);
    float: left;
    margin: 0 22px 15px 0;

    @media (max-width: $grid-float-breakpoint-max) {
        width: 60%;
        float: none;
        margin: 0 20%;
    }

    @media (max-width: 500px) {
        width: 90%;
        margin: 0 5%;
    }
}

.image-wrapper {
    width: 100%;

    img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    &.image-with-modal-wrapper {
        position: relative;

        .icon {
            content: '';
            margin-right: 0;
            background-position-y: 0;
            padding-right: 30px;
            background-size: 30px 30px;
            height: 30px;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 2;
            background-color: #fff;
            border-radius: 50%;
        }
    }
}

.embedded-image-collection {
    position: relative;
    .link-page-image {
        position: absolute;
        top: 10px;
        left: 10px;
        a {
            color: #a9adc0;
            text-decoration: none;
            border-bottom: none;
        }
    }
}

.page-images {
    img {
        max-width: 100%;
    }
}

.image-caption {
    margin-top: 15px;
    width: 100%;
    padding: 15px;
    background-color: $gray-light;
    border-left: 5px solid $gray-dark;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    p:first-child {
        margin-top: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.image-modal {
    text-align: center;
    padding: 0 !important;

    .modal-dialog {
        margin-top: 0;
        margin-bottom: 0;
        display: inline-block;
        vertical-align: middle;

        @media (min-width: 768px) {
            width: unset;
            max-width: 98%;
        }
    }

    .modal-content {
        background: none;
        box-shadow: none;
        border: none;

        .modal-body {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;

            .image-modal-wrapper {
                position: relative;
            }

            .close {
                position: absolute;
                top: 15px;
                right: 15px;
                z-index: 100;
                border-bottom: none;
                padding: 0;
                padding-top: 0;
                border-radius: 50%;
                opacity: 1;
                text-align: center;
                width: 24px;
                height: 24px;
                color: $brand-primary;

                &:hover {
                    // color: $brand-primary-hover;
                }

                .icon-cancel {
                    width: 30px;
                    opacity: 0.8;
                    padding: 0px;
                    background-color: transparent;
                    border-radius: 0px;
                }
            }

            img {
                padding: 10px;
                background-color: #fff;
                border-radius: $border-radius-base;
                max-width: 100%;
                max-height: 95vh;
            }
        }
    }
}

#video-page, 
#image-page, 
#file-page {
    padding-top: 60px; 
    padding-bottom: 60px;
}

#video-page {
    iframe {
        display: block; 
        margin: 0 auto;
    }
}

#image-page{
    img {
        display: block; 
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
}
