//
// Variables
// --------------------------------------------------

//== Banner
//
//
$banner-default-border-width: 1px;
$banner-default-border-color: #d3d3d3;
$banner-default-background-color: #f8f8f8;
$banner-default-highlight-color: #000;

$banner-info-border-width: $banner-default-border-width;
$banner-info-border-color: $banner-default-border-color;
$banner-info-background-color: #f5faff;
$banner-info-highlight-color: #017bc7;

$banner-error-border-width: $banner-default-border-width;
$banner-error-border-color: $banner-default-border-color;
$banner-error-background-color: rgba(185, 19, 26, 0.06);
$banner-error-highlight-color: #990000;

//== Back To Top
//
//
$back-to-top-btn-position-bottom: 15px;
$back-to-top-btn-position-right: 15px;
$back-to-top-btn-bg: rgba(255, 255, 255, 0.7);
$back-to-top-btn-color: #707070;
$back-to-top-btn-color-hover: #343434;
$back-to-top-btn-border-radius: 60px;
$back-to-top-btn-padding: 5px 15px;
$back-to-top-btn-font-size: 16px;

$back-to-top-icon-border: 1px solid $back-to-top-btn-color;
$back-to-top-icon-border-hover: 1px solid $back-to-top-btn-color-hover;
$back-to-top-icon-border-radius: 50%;
$back-to-top-icon-width: 25px;
$back-to-top-icon-height: 25px;
$back-to-top-icon-margin-left: 5px;
$back-to-top-glyphicon-width: 14px;
