/* Basic layout */
h1.title {
    display: none;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #355470;
    font-weight: 800;
}

h3 {
    color: #355470;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

h4 {
    color: #355470;
    font-size: 16px;
    font-weight: 700;
}

@media only screen and (max-width: 479px) {
    h2 {
        font-size: 26px;
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

a.btn {
    padding: 6px 0;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border-radius: 7px;
    background-color: #63aa35;
    border-bottom: 2px solid #b3e077;
}

a.btn:hover,
a.btn:active,
a.btn:focus {
    background-color: #549a27;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid #99c85a;
}

.btn .btn-zoom {
    padding: 0 25px;
    padding-right: 50px;
    background-image: url(../images/icon-arrow-white.svg);
    -webkit-background-size: 18px;
    -moz-background-size: 18px;
    -o-background-size: 18px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: calc(100% - 25px) 50%;
    display: block;
    transition: all 0.3s;
}

.btn:hover .btn-zoom {
    transform: scale(1.05);
}

@media only screen and (max-width: 479px) {
    a.btn {
        font-size: 12px;
    }
}

/* Navbar */
/* Navbar collapse
-------------------------------------------------------------- */
.navbar-collapse > nav {
    text-align: right;
    padding-top: 1em;
}

.navbar-collapse > nav > div {
    display: inline-block;
    vertical-align: middle;
    width: 19%;
    text-align: right;
}

.navbar-collapse > nav > div.region-navbar {
    width: 30px;
}

.navbar-collapse > nav > div.cbw-login {
    margin-right: 15px;
}

.navbar-collapse > nav > div.menu-main-menu {
    width: 64%;
}

@media (max-width: 1199px) {
    .navbar-collapse > nav {
        padding-top: 2.5em;
    }
    .navbar-collapse > nav > div {
        width: 23%;
    }
    .navbar-collapse > nav > div.region-navbar {
        width: 0px;
        position: relative;
    }
    .navbar-collapse > nav > div.menu-main-menu {
        width: 60%;
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: relative;
    }
    .nav-navbar {
        margin-top: 1.5em;
    }
    .navbar-collapse > nav > div {
        width: 29%;
    }
    .navbar-collapse > nav > div.menu-main-menu {
        position: absolute;
        bottom: 11px;
        left: -15px;
        width: 73%;
    }
    .navbar-collapse > nav {
        padding-top: 3em;
    }
}

@media (max-width: 767px) {
    .container > .navbar-collapse {
        padding-right: 0px;
        z-index: 1;
    }
    .navbar-collapse > nav {
        padding-top: 0;
        text-align: left;
        background-color: #f9fafc;
        padding-right: 0;
        padding-left: 0;
    }
    .navbar-collapse > nav > div {
        text-align: left;
        border-top: 1px solid #d4dcde;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 1em;
    }
    .navbar-collapse > nav > div.region-navbar {
        text-align: left;
        border-top: 1px solid #d4dcde;
        padding: 0;
        margin: 0;
        padding-top: 0px;
        width: 100%;
    }
    .navbar-collapse > nav > div.menu-main-menu {
        border-top: none;
        padding-top: 0;
        margin-bottom: -1em;
    }
    .navbar-collapse > nav > div,
    .navbar-collapse > nav > div.menu-main-menu {
        width: 100%;
    }

    .navbar-collapse > nav > div.menu-main-menu {
        position: static;
    }
}

.navbar-default .navbar-nav > .active > a {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active.our-work {
    background-color: #39a9d4;
}

.navbar-default .navbar-nav > .active.about-us {
    background-color: #63aa35;
}

.navbar-default .navbar-nav > .active.our-capabilities {
    background-color: #f87b02;
}

.navbar-default .navbar-nav > .active.careers {
    background-color: #355470;
}

.navbar-default .navbar-nav > .active.contact-us {
    background-color: #1d9bcb;
}

/* Navbar Header
-------------------------------------------------------------- */
.webdev-login ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.webdev-login ul li {
    list-style-image: none;
    margin-bottom: 0;
}

.webdev-login .btn-default {
    border: none;
}

.webdev-login .btn-default:link,
.webdev-login .btn-default:visited {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 20px;
    color: #355470;
    background-color: transparent;
    border-bottom: none;
}

.webdev-login .btn-default:hover,
.webdev-login .btn-default:active {
    background-color: #eaedf0;
    border-bottom: none;
}

.webdev-login .btn::after {
    content: '';
}

@media (max-width: 767px) {
    .webdev-login .btn-default {
        border-radius: 0;
        border-bottom: 1px solid #d4dcde;
        width: 100%;
    }
    .logged-in .webdev-login .first > span {
        margin-top: 0;
    }
    /*.page-wrapper {
    padding-top: 2.25em;
  }*/
    .navbar-header .webdev-login {
        border-radius: 0;
        float: none;
        position: absolute;
        text-align: center;
        top: -2.25em;
        left: 0;
        width: 100%;
    }
    .webdev-login {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-header .webdev-login {
        border: medium none;
    }
    .not-logged-in .navbar-header .webdev-login {
        padding-top: 0;
    }
    .navbar-header .webdev-login li,
    .not-logged-in .navbar-header .webdev-login a {
        width: 100%;
    }
    .navbar-header .webdev-login a {
        padding: 0.375em 7px;
    }
}

/* banner */

.banner {
    display: block;
    margin-top: 30px;
}

.banner-title,
.banner-content,
.banner-wrapper {
    position: relative;
    float: left;
    width: auto;
}

.banner-wrapper {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}

.banner-content {
    max-width: 100%;
    margin-left: 30px;
    line-height: 2em;
}

.banner-title h1 {
    font-size: 48px;
    font-weight: 800;
    margin: 10px 0px;
    padding-right: 30px;
    border-right: 2px solid #dce1e5;
}

.banner-content p {
    font-size: 16px;
    margin-bottom: 0px;
}

@media only screen and (max-width: 991px) {
    .banner {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 767px) {
    .banner {
        margin-top: 20px;
        padding: 0px;
    }
    .banner-title,
    .banner-content {
        float: none;
    }
    .banner-title h1 {
        padding: 0px;
        text-align: center;
        border: none;
    }
    .banner-content {
        text-align: center;
        width: 100%;
        margin: 0px;
        padding: 15px 40px;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 479px) {
    .banner-title h1 {
        font-size: 34px;
    }
    .banner-content {
        padding: 15px 15px;
        padding-bottom: 0px;
    }
    .banner-content p {
        font-size: 14px;
        margin-bottom: 0px;
    }
}

#app-git-edit {
    position: absolute;
    top: 0;
    right: 50px;
    z-index: 10000;
}

#app-git-edit .dropdown > a.btn {
    padding-left: 25px;
    padding-right: 25px;
}
