/*Nav Bar*/
nav.navbar {
    background: linear-gradient(
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0.9) 30%,
        rgba(255, 255, 255, 0.77) 46%,
        rgba(255, 255, 255, 0.6) 65%,
        rgba(255, 255, 255, 0) 100%
    );
    min-height: 150px;
    overflow: hidden;
}

@media only screen and (max-width: 1199px) {
    nav.navbar {
        min-height: 180px;
        background: linear-gradient(
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.9) 20%,
            rgba(255, 255, 255, 0.9) 50%,
            rgba(255, 255, 255, 0.6) 70%,
            rgba(255, 255, 255, 0) 100%
        );
    }
}

@media only screen and (max-width: 991px) {
    nav.navbar {
        min-height: 180px;
        background: linear-gradient(
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.9) 20%,
            rgba(255, 255, 255, 0.9) 77%,
            rgba(255, 255, 255, 0.8) 84%,
            rgba(255, 255, 255, 0) 100%
        );
    }
}

section .row {
    padding: 25px 0px;
    padding-bottom: 55px;
}

/* Banner */
.content-header {
    position: relative;
}

.content-header-background {
    max-height: 601px;
    position: relative;
    margin-top: -140px;
}

.content-header-background img {
    width: 100%;
    min-height: 204px;
}

.content-header-background .container {
    position: relative;
}

.content-header-main {
    width: 100%;
    position: absolute;
    top: calc(60% - 115px);
}
.content-header .title h1 {
    color: #ffffff;
    border-right: none;
}

.content-header .content {
    text-align: left;
    float: left;
    margin-left: 0px;
}

.content-header .content p {
    text-align: left;
    color: #92d2f2;
    font-size: 42px;
    line-height: 1.2em;
    font-weight: 700;
    padding-left: 30px;
    border-left: 1px solid #8d9eae;
    width: 90%;
}

.content-header .content a.btn {
    margin-left: 30px;
    margin-top: 30px;
}

.list-btn {
    background-image: url(../images/icon-grid-grey.svg);
    color: #ffffff;
    background-position: left, center;
    -webkit-background-size: 20px;
    -moz-background-size: 20px;
    -o-background-size: 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    float: left;
    text-decoration: none;
    height: 20px;
    padding-left: 30px;
    margin-top: 30px;
}

.list-btn:hover {
    text-decoration: none;
    color: #c6ecfb;
}

@media only screen and (max-width: 1199px) {
    .content-header-background {
        margin-top: -120px;
    }
    .content-header-main {
        top: 160px;
    }
}

@media only screen and (max-width: 991px) {
    .content-header-background {
        margin-top: -85px;
    }
    .content-header-main {
        top: 100px;
    }
    .content-header .content p {
        font-size: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .content-header .content {
        width: calc(100% - 333px);
    }
    .content-header-main > .container {
        display: flex;
        align-items: flex-end;
    }
}

@media only screen and (min-width: 992px) {
    .content-header .content {
        width: calc(100% - 333px);
    }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (max-width: 767px) {
    .content-header-main > container {
        display: block;
    }
    nav.navbar {
        min-height: 100px;
    }
    .content-header-background {
        margin-top: -50px;
    }
    .content-header-main {
        top: 55px;
    }
    .content-header .title h1 {
        font-size: 34px;
    }
    a.list-btn {
        position: absolute;
        bottom: -138px;
        left: 41%;
        color: #ffffff;
    }
    .content-header .content {
        float: none;
        width: 100%;
        margin: 0px;
        padding-top: 0px;
        text-align: center;
    }
    .content-header .content p {
        margin: 0px;
        border-left: none;
        padding: 0px;
        font-size: 22px;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .content-header .content a.btn {
        float: none;
        margin-top: 0px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    .row.project {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media only screen and (max-width: 651px) {
    .content-header-main {
        top: 35px;
    }
    .content-header .title h1 {
        font-size: 32px;
    }
    .content-header .content p {
        font-size: 18px;
    }
    a.list-btn {
        position: absolute;
        bottom: -127px;
        left: 40%;
        color: #ffffff;
    }
}

@media only screen and (max-width: 577px) {
    .content-header-main {
        top: 43px;
    }
    .content-header .title h1 {
        font-size: 30px;
    }
    .content-header .content p {
        font-size: 18px;
    }
    a.list-btn {
        position: absolute;
        bottom: -128px;
        left: 38%;
        color: #ffffff;
    }
}

@media only screen and (max-width: 519px) {
    .content-header-main {
        top: 20px;
    }
    .content-header .title h1 {
        font-size: 30px;
    }
    .content-header .content p {
        font-size: 18px;
    }
    a.list-btn {
        position: absolute;
        bottom: -130px;
        left: calc(50% - 55px);
        color: #ffffff;
    }
}

@media only screen and (max-width: 479px) {
    .content-header-background {
        margin-top: -35px;
        display: flex;
        justify-content: center;
    }
    .content-header-background img {
        width: auto;
        height: 204px;
        margin-left: auto;
        margin-right: auto;
    }
    nav.navbar {
        min-height: 65px;
    }
    .content-header-main {
        top: 20px;
    }
    .content-header .content {
        padding-top: 0px;
        text-align: center;
    }
    .content-header .title h1 {
        font-size: 30px;
    }
    .content-header .content p {
        font-size: 18px;
        text-align: center;
    }
    .content-header .content a.btn {
        margin-top: 10px;
        margin-left: 0px;
        padding-top: 4px;
        padding-bottom: 4px;
        margin-left: auto;
        margin-right: auto;
    }
    a.list-btn {
        margin-top: 0px;
        bottom: -120px;
    }
}

/* Main Content */

section.case-study {
    background-image: url(../images/background-hex.png);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}

@media only screen and (max-width: 767px) {
    section.case-study {
        background-size: 767px;
        background-position: top center;
    }
}

.challenge-content {
    float: left;
    width: 42%;
}

.challenge-carousel {
    position: relative;
    float: left;
    width: 55%;
    margin-right: 3%;
    z-index: 50;
    margin-top: -70px;
    border-radius: 20px;
    border: 5px solid #e8ecf0;
    height: 523px;
}

.carousel {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    height: 100%;
    overflow: hidden;
}

.carousel-clickable {
    cursor: pointer;
}

.carousel-clickable .slide-image {
    position: relative;
}

.carousel-clickable .slide-image .slide-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: block;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.carousel-clickable:hover .slide-image .slide-overlay {
    opacity: 0.7;
}

.carousel-clickable .slide-overlay-icon {
    font-size: 18px;
    color: #fff;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    position: absolute;
    line-height: 80px;
    left: 50%;
    top: 50%;
    margin: -40px 0 0 -40px;
    z-index: 500;
    text-align: center;
    background-color: #63aa35;
    transform: scale(0) rotate(-90deg);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.carousel-clickable:hover .slide-overlay-icon {
    transform: scale(1) rotate(0);
}

.slides img {
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.slides img.carousel-img-browser {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: -3px;
    margin-top: -1px;
    width: calc(100% + 6px);
}

.carousel-indicators {
    /*z-index: 2000;*/
    bottom: -50px;
}

.carousel-indicators li {
    margin: 0px 5px;
    width: 14px;
    height: 14px;
    background-color: #ccd4dc;
    border: none;
}

.carousel-indicators li.active {
    margin: 0px 5px;
    width: 14px;
    height: 14px;
    background-color: #b3e077;
    border: none;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    opacity: 0.9;
}

.carousel-control-prev {
    left: 0;
    background-image: url(../images/icon-round-arrow-left-bg.svg);
    -webkit-background-size: 40px;
    -moz-background-size: 40px;
    -o-background-size: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    /*z-index: 2000;*/
}

.carousel-control-prev:hover {
    background-image: url(../images/icon-round-arrow-left-bg-hover.svg);
}

.carousel-control-next {
    right: 0;
    background-image: url(../images/icon-round-arrow-right-bg.svg);
    -webkit-background-size: 40px;
    -moz-background-size: 40px;
    -o-background-size: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    /*z-index: 2000;*/
}

.carousel-control-next:hover {
    background-image: url(../images/icon-round-arrow-right-bg-hover.svg);
}

.challenge.row {
    padding-bottom: 55px;
}

.challenge-content h2 {
    text-align: left;
}

.challenge-content ol {
    padding-left: 20px;
    overflow: hidden;
}

.challenge-content ol > li {
    list-style-type: decimal;
    color: #4d4d4d;
    padding-left: 5px;
}

@media only screen and (max-width: 1199px) {
    .challenge-carousel {
        margin-top: 0px;
        width: 50%;
        height: auto;
    }
    .challenge-content {
        width: 47%;
    }
}

@media only screen and (max-width: 991px) {
    .challenge-carousel {
        float: left;
        margin-top: 0px;
        height: auto;
        width: 47%;
        margin-top: 85px;
        margin-bottom: 30px;
    }
    .challenge-content {
        float: none;
        width: 100%;
    }
    .challenge-content h2 {
        text-align: left;
    }
}

@media only screen and (max-width: 767px) {
    .challenge.row {
        padding: 30px 15px 50px 15px;
    }
}

@media only screen and (max-width: 651px) {
    .challenge-carousel {
        float: none;
        margin-top: 0px;
        width: 90%;
        margin: 0% 5%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .challenge-content {
        width: 100%;
        float: none;
    }
    .challenge-content h2 {
        width: 100%;
        margin-left: 0px;
        text-align: center;
    }
    .challenge.row .container {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 479px) {
    .challenge-content ol > li {
        font-size: 13px;
    }
    .challenge-carousel {
        width: 100%;
        margin: 0px;
        height: auto;
        margin-top: 20px;
    }
    .challenge-carousel .carousel-indicators li {
        width: 12px;
        height: 12px;
    }
    .carousel-control-prev {
        -webkit-background-size: 30px;
        -moz-background-size: 30px;
        -o-background-size: 30px;
        background-size: 30px;
        width: 30px;
    }
    .carousel-control-next {
        -webkit-background-size: 30px;
        -moz-background-size: 30px;
        -o-background-size: 30px;
        background-size: 30px;
        background-size: 30px;
        width: 30px;
    }
}

/* Testimonial */

.testimonial {
    background: linear-gradient(
            rgba(53, 84, 112, 0) 0%,
            rgba(21, 32, 42, 0.4) 50%,
            rgba(21, 32, 42, 0.6) 100%
        ),
        url(../images/about-us-bg.png);
}

.testimonial-image {
    padding: 0px 40px;
}

.testimonial-content {
    padding-left: 15px;
    visibility: hidden;
}

.testimonial-content p {
    color: #ffffff;
    visibility: hidden;
}

.testimonial.row {
    padding: 55px 0px;
}

@media only screen and (max-width: 991px) {
    .testimonial-image {
        text-align: center;
        margin-bottom: 20px;
    }
    .testimonial-image img {
        margin: auto;
        width: 120px;
    }
}

@media only screen and (max-width: 479px) {
    .testimonial-image img {
        width: 100px;
    }
}
/* The Solution */

.solution {
}

.solution-carousel {
    float: right;
    width: 55%;
    margin-left: 3%;
    margin-top: 20px;
    z-index: 500;
    height: auto;
    border: 5px solid #e8ecf0;
    border-radius: 20px;
}

.solution-content {
    float: left;
    width: 42%;
}
.solution-content h2 {
    text-align: left;
}

.solution-content a.btn {
    margin-top: 20px;
}

@media only screen and (max-width: 1199px) {
    .testimonial-image {
        padding: 0px 15px;
    }
    .solution-carousel {
        width: 50%;
        height: auto;
    }
    .solution-content {
        width: 47%;
    }
}

@media only screen and (max-width: 991px) {
    .solution-carousel {
        margin-top: 0px;
        height: auto;
        width: 47%;
        margin-top: 85px;
        margin-bottom: 30px;
    }
    .solution-content {
        width: 100%;
        float: none;
        text-align: center;
    }
    .solution-content p {
        text-align: left;
    }
    .solution-content h2 {
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .row.solution {
        padding-left: 15px;
        padding-right: 15px;
    }
    .solution-content a.btn {
        margin-left: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 651px) {
    .solution.row .container {
        display: flex;
        flex-direction: column-reverse;
    }
    .solution-carousel {
        margin-top: 0px;
        margin-bottom: 0px;
        float: none;
        width: 90%;
        margin: 0px 5%;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 479px) {
    .solution-carousel {
        width: 100%;
        margin: 0px;
        height: auto;
        margin-top: 20px;
    }
    .solution-carousel .carousel-indicators li {
        width: 12px;
        height: 12px;
    }
    .carousel-control-prev {
        -webkit-background-size: 30px;
        -moz-background-size: 30px;
        -o-background-size: 30px;
        background-size: 30px;
        background-size: 30px;
        width: 30px;
    }

    .carousel-control-next {
        -webkit-background-size: 30px;
        -moz-background-size: 30px;
        -o-background-size: 30px;
        background-size: 30px;
        background-size: 30px;
        width: 30px;
    }
    .solution-content h2 {
        text-align: center;
    }
    .solution-content a.btn {
        margin-left: auto;
        margin-right: auto;
        margin-left: calc(50% - 147px);
        margin-top: 10px;
    }
}

.previous,
.next {
    text-transform: uppercase;
    color: #d2d2d2;
    text-decoration: none;
    font-weight: 600;
}

.previous:hover,
.next:hover {
    color: #acb3bb;
}

.previous-project {
    display: block;
    height: 50px;
    width: 35%;
    background-image: url(../images/icon-round-arrow-left.svg);
    background-position: left, center;
    -webkit-background-size: 40px;
    -moz-background-size: 40px;
    -o-background-size: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    float: left;
    padding-left: 50px;
    padding-top: 13px;
    text-decoration: none;
}

.center-project:hover,
.previous-project:hover,
.next-project:hover {
    text-decoration: none;
}

.center-project:hover {
    background-image: url(../images/icon-round-grid-hover.svg);
}

.previous-project:hover {
    background-image: url(../images/icon-round-arrow-left-hover.svg);
}

.next-project:hover {
    background-image: url(../images/icon-round-arrow-right-hover.svg);
}

.previous-project:hover span,
.next-project:hover span {
    color: #acb3bb;
}

.center-project {
    display: block;
    height: 50px;
    background-image: url(../images/icon-round-grid.svg);
    background-position: center, center;
    -webkit-background-size: 40px;
    -moz-background-size: 40px;
    -o-background-size: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    width: 30%;
    float: left;
    text-decoration: none;
}
.next-project {
    display: block;
    height: 50px;
    width: 35%;
    background-image: url(../images/icon-round-arrow-right.svg);
    background-position: right, center;
    -webkit-background-size: 40px;
    -moz-background-size: 40px;
    -o-background-size: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    float: left;
    padding-right: 50px;
    padding-top: 13px;
    text-align: right;
    text-decoration: none;
}

@media only screen and (max-width: 479px) {
    .row.project {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
        margin: 0px;
        font-size: 12px;
    }
    .row.project .container {
        padding: 0px;
    }
    .row.project a {
        font-size: 12px;
    }
    .previous-project {
        -webkit-background-size: 30px;
        -moz-background-size: 30px;
        -o-background-size: 30px;
        background-size: 30px;
        padding-left: 35px;
        width: calc(50% - 20px);
    }
    .center-project {
        width: 40px;
        -webkit-background-size: 30px;
        -moz-background-size: 30px;
        -o-background-size: 30px;
        background-size: 30px;
    }
    .next-project {
        width: calc(50% - 20px);
        padding-right: 35px;
        -webkit-background-size: 30px;
        -moz-background-size: 30px;
        -o-background-size: 30px;
        background-size: 30px;
    }
}

.page-wrapper {
    overflow: hidden;
}
.color-overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.gallery-container {
    position: relative;
    height: 0px;
}

.lightbox {
    display: block;
    border-radius: 5px;
    align-self: center;
    width: 80vw;
    max-width: 1500px;
    background-color: #ffffff;
    position: fixed;
    left: calc(50% - 750px);
    top: 3vh;
    z-index: 1002;
    margin: auto;
    padding: 30px;
    max-height: 94vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 10px;
    transform: scale(0);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.lightbox.active {
    transform: scale(1);
}

.lightbox-inner {
    position: relative;
}

.lightbox-title {
    padding: 0px 40px 10px 0px;
    position: relative;
    border-bottom: 1px solid #dce1e5;
}

.lightbox-title h2 {
    display: inline-block;
    text-align: left;
    margin: 0px 0px;
}

.lightbox-title a.btn {
    vertical-align: bottom;
    margin-left: 20px;
}

.lightbox-title a.lightbox-title-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-image: url(../images/icon-close.svg);
    -webkit-background-size: 40px;
    -moz-background-size: 40px;
    -o-background-size: 40px;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    border-radius: 100px;
    border: 2px solid transparent;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.lightbox-title a.lightbox-title-close:hover {
    border: 2px solid #d2d2d2;
    transform: scale(0.8);
    -webkit-transform: scale(0.8) rotateZ(90deg);
}

.lightbox-carousel {
    overflow: hidden;
    position: relative;
}

@media only screen and (max-width: 1875px) {
    .lightbox {
        left: calc(50% - 40vw);
    }
}

@media only screen and (max-width: 1199px) {
    .lightbox {
        width: 80vw;
        left: 10vw;
    }
}

@media only screen and (max-width: 991px) {
    .lightbox-title a.btn {
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .lightbox {
        width: 88vw;
        left: 6vw;
    }
}

@media only screen and (max-width: 650px) {
    .lightbox-title {
        text-align: center;
        padding-right: 0px;
        -webkit-background-size: 25px;
        -moz-background-size: 25px;
        -o-background-size: 25px;
        background-size: 25px;
    }
    .lightbox-title h2 {
        text-align: center;
        padding-right: 30px;
        padding-left: 15px;
        font-size: 22px;
    }
    .lightbox-title a.lightbox-title-close {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (max-width: 479px) {
    .lightbox {
        padding: 10px;
        width: 94vw;
        left: 3vw;
    }
}

/*  */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .item {
        -webkit-perspective: none;
        perspective: none;
    }
}

.container #app-git-edit {
    margin-bottom: -160px;
}
