@media only screen and (min-width: 768px) {
    .banner-content {
        width: calc(100% - 490px) !important;
        margin-top: calc(3% - 20px);
    }
}

.banner-title h1 {
    padding-right: 30px !important;
}

.line-break{
	border-top: 1px solid #8c8b8b;
}

#index-links{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
}

ul, li{
    color: #4A4A4A !important;
    font-size: 14px !important;
}

#work-with-us-img{
    width: 750px;
    border-radius: 0% !important;
}

.page-bottom{
    background-color: #f2f3f4;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 5px;
}

.row-bottom
{
    display: table;
    width: 55%;
    margin-left: 150px;
    border-spacing: 5px;
}
.bottom-col
{
    display: table-cell;
    padding-left: 25px;
    width: 45%;
}

.bottom-col-3
{
    margin-left: 35px;
    width: 255%;
}

.blog-posts{
    text-align: left !important;
    margin-bottom: 30px !important;
    color: #47afd7 !important;
    font-weight: 700 !important;
}

b, strong{
    font-weight: bold;
}

.bold-text{
   font-weight: bold;
   line-height: 18px;
   margin-top: 18px;
   margin-bottom: 18px;
}

a {
    color: #138cba;
    text-decoration: none !important;
}

.create-header{
    padding-left: 1px;
    padding-right: 10px;
    margin-left: 35px;
    margin-right: -10px;
    color: #345570;
}

.create-page{
    padding-left: 40px;
    padding-right: 80px;
    margin-right: 20px;
}

.list-template ul li {
    list-style: disc;
    padding-right: 4px;
    margin-right: 10px;
    margin-left: -18px;
}

.list-template strong {
    color: #F9893B;
}
