---
# You don't need to edit this file, it's empty on purpose.
# Edit theme's home layout instead if you wanna make some changes
# See: https://jekyllrb.com/docs/themes/#overriding-theme-defaults
layout: form_verify
permalink: /forms/verification/
published: false
---

<div id="app-forms-verify"></div>
