.banner {
    h1 {
        font-family: 'Century Gothic', Arial, sans-serif;
        font-size: 1.8em;
        font-weight: normal;
        margin-left: 0;
        line-height: 1.1;
    }

    p {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.428571429;
        color: #333333;
    }
}
